/*
#profileCard {
    background-color: rgba(255, 255, 0, .4);
}

#head, #content {
    background-color: rgba(0, 255, 255, .4);
}

#imgContainer, #nameContainer, #about, #links, #flags {
    background-color: rgba(0, 127, 255, .4);
}
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

#photo {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    filter: grayscale(50%);
    margin-top: -60px;
    border: 1px solid grey;
    transition: all 0.5s ease-in-out;
}

#photo:hover {
    transform: scale(1.1);
}

button {
    background: transparent;
    border: none;
    outline: none;
}

ul {
    list-style-type: none;
    padding-top: 4px;
}

li {
    display: inline;
}

i {
    padding: 2px;
}

body {
    background: url('assets/norway.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

#cardBody {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

#profileCard {
    width: 480px;
    max-width: calc(100vw - 10px);
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .7);
}

#head, #links, #flags {
    text-align: center;;
}

#head, #content {
    width: 90%;
    margin: 0 auto;
}

#head, #about , #links {
    margin-bottom: 10%;
}

#content {
    padding: 5% 10%;
    border-top: 1px solid grey;
}

.black {
    color: black;
}

h1 {
    font-size: 34px;
    text-transform: uppercase;
}

h2 {
    font-size: 18px;
}

.trans:hover {
    transform: scale(1.3);
}

.paragraph {
    padding-top: 10px;
    text-align: justify;
}

#spacer {
    height: calc(100vh * 0.2);
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    font-style: italic;
    text-decoration: underline;
}

#home {
    line-height: 25px;
}